<div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-12 text-center">
        <a class="blog-header-logo text-dark" href="/">Clean Architecture Blog</a>
    </div>
</div>
